---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "variables";        // Your Sass variables should go there
@import "mixins";           // Your additional mixins should go there

@import "reboot";           // Opinionated reboot/normalize/reset css

@import "grid";             // A small grid css (no flex)
@import "text";             // The type related css

@import "site";             // Styles specific to the site architecture
@import "page";             // Styles specific to the pages


/* Custom Styles */

.site-title {
  width: 14%;
  margin: auto;
}

/*
*.site-nav {
*  width: 30%;
*}
*/

.site-logo:hover {
  box-shadow: 0 0 6px #4072AF;
  border-radius: 6px;
}

.site-footer {
  margin: 3rem 0 6rem;
}

.lead.pretty-links {
  margin-top:20px;
}

.site-profile {
  width: 184px;
  margin: 0 0 0 20px;
}

#asterisk {
  color: #4072AF;
  text-decoration: none;
  background: none;
}

#ai-and-game-playing {
  color: #333;
}

.music-iframe {
  margin-left: 10px;
}

.music-item {
  height: 160px;
}

